.shop-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Üstten hizalama */
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 100%; /* Genişlik %100 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    flex-wrap: wrap; /* Küçük ekranlar için esnek yap */
    
}

.product-grid {
    display: flex; /* Flex düzeni kullan */
    flex-wrap: wrap; /* Küçük ekranlar için esnek yap */
    justify-content: flex-start; /* Kartların soldan hizalanması */
    gap: 20px; /* Kartlar arasındaki boşluk */
    margin: 0 auto; /* Sayfanın kenarlarından boşluk bırak */
    padding: 0 20px; /* Kartların kenarlara yapışmasını engelle */
    max-width: 1040px; /* Kartların genişliğini sınırlayarak ortala */
    text-decoration: none;
    color: #000;
}




.logo-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.shop-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop-details {
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    margin-right: 20px;
    align-items: center;
}

.shop-name {
    font-size: 1.5rem;
    color: #333;
}

.shop-description {
    font-size: 1rem;
    color: #666;
    margin-top: 5px; /* Name ve description arasında boşluk */
}

.contact-info {
    display: flex;
    flex-direction: column; /* Tüm iletişim bilgileri dikey */
    gap: 20px;
    align-items: flex-start;
}

.social-links {
    display: flex;
    flex-direction: column; /* Instagram ve TikTok üst üste */
    gap: 10px; /* Aralarındaki boşluk */
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icon {
    font-size: 1.5rem;
    color: #333;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000; /* Siyah yazı rengi */
    text-decoration: none; /* Alt çizgiyi kaldırma */
}

.social-link:hover {
    color: #007bff; /* Hover'da yazı rengini değiştir */
}
